@media (max-width: 1650px) {
  .footer-main-wrap{
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1340px) {
  .banner-wrap{
    padding-right: 130px;
  }

}
@media (max-width: 1300px) {
  .banner-wrap{
    padding-right: 130px;
  }
  .feature-wrap{
    padding: 0 25px;
  }
}

@media (max-width: 991px) {
  .img-wrap a{
    display: inline-block;
  }
  p{
    font-size: 18px;
  }

  .section-title  h2 {
    font-size: 42px;
  }
  .mobile-menu-wrap {
    display: block;
  }
  /* Header-Start */
  .header-wrap {
    margin-bottom: 50px;
  }
  .header-wrap .container {
    padding: 0 20px;
  }
  .header-menu {
    display: none;
  }
  .header-right {
    display: none;
  }
  .header-content {
    border-bottom: none;
    padding: 50px 0;
    transition: all 0.3s ease-in-out;
  }
  .scrolled .header-content {
    padding: 25px 0;
  }
  .scrolled .mobile-menu-wrap {
    top: 76px;
  }

  /* Mobile Menu  */
  .mobile-menu-wrap {
    right: -100%;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    position: fixed;
    top: 126px;
    transition: all 0.5s ease-in-out;
    background: #080b12;
    z-index: 20;
    height: calc(100% - 66px);
    overflow-y: auto;
  }
  .hamburger {
    display: block;
  }
  .open {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
  .hamburger svg {
    transition: all 0.3s ease-in-out;
  }
  .open.hamburger svg {
    transform: rotate(180deg);
  }
  /* .scrolled .open.hamburger svg path {
    fill: #ffffff;
  } */
  .open.hamburger svg path {
    fill: #6c8ff7;
  }
  .mobile-menu ul {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
  .mobile-menu ul li {
    padding: 0;
    width: 100%;
  }
  .mobile-menu-list ul li a {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px; /* 150% */
    background: linear-gradient(
      136deg,
      rgba(255, 244, 204, 0.78) 0%,
      rgba(255, 255, 255, 0.78) 13.02%,
      rgba(142, 171, 255, 0.78) 27.08%,
      rgba(171, 192, 255, 0.84) 45.31%,
      #fff 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .img-wrap-mobile-menu {
    padding-top: 20px;
    padding-bottom: 52px;
  }
  .footer-menu-mobile {
    padding-bottom: 46px;
  }
  .footer-copyright-mobile {
    padding-top: 23px;
    padding-bottom: 41px;
  }
  /* Header-End  */

  /* Banner-Start  */
  .banner-wrap {
    overflow: hidden;
    padding: 0;
    padding-bottom: 100px;
  }
  .banner-content {
    padding: 0 25px;
  }
  .banner-left {
    width: 100%;
    padding-bottom: 80px;
  }
  .banner-wordwild{
    width: 100%;
    max-width: 540px;
  }
  .banner-wordwild-content {
    padding: 30px 30px 14px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .banner-right {
    width: 100%;
    display: flex;
    align-items: start;
  }
  .page-head {
    width: 100%;
    max-width: 510px;
  }
  .page-head h1 {
    font-size: 55px;
  }
  .banner-left-content p {
    width: 100%;
    margin-bottom: 23px;
    max-width: 352px;
  }
  .banner-right-square {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .banner-right-img {
    width: 100%;
    margin: 0 auto;
  }
  /* Banner-End  */

  /* Snoring-Management-Start */
  .snoring-management-wrap {
    padding-top: 0px;
    padding-bottom: 80px;
  }
  .snoring-head {
    padding-bottom: 50px;
  }
  .snoring-head p {
    font-size: 22px;
  }

  /*    */

  .snoring-content-right {
    width: 100%;
    padding-bottom: 90px;
  }
  .snoring-content-list{
    margin: 0;
    max-width: none;
  }
  .snoring-content-list ul {
    display: flex;
    flex-wrap: wrap;
  }
  .snoring-content-list ul li {
    margin-bottom: 20px;
    width: calc(50% - 30px);
    margin: 15px;
    height: auto;
  }
  .snoring-content-list ul li:last-child {
    margin: 15px;
  }



  /*  */
  .snoring-content-left {
    width: 100%;
  }
  .snoring-left-img {
    max-width: 75%;
    margin: 0 auto;
  }
  /* Snoring-Management-End */

  /* Feature-Weap-Start */
  .feature-wrap {
    padding-top: 0;
    padding-bottom: 131px;
  }
  .fearure-head {
    padding-bottom: 50px;
  }

  .feature-left  h3 {
    padding: 0;
    padding-bottom: 30px;
  }
  .feature-left  p {
    padding: 0;
  }
  .feature-right img {
    display: flex;
    margin: 0 auto;
    max-width: 75%;
  }
  .feature-content-list ul li {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 50px;
  }
  .feature-left  .img-wrap {
    padding: 0;
    padding-top: 24px;
  }
  .feature-left .img-wrap a {
    padding-bottom: 50px;
  }
  /* Feature-Weap-End */

  /* App Review Start */
  .app-review-wrap {
    padding-bottom: 100px;
  }

 
  /* App Review End */

  /* Progress Content Start  */
  .progress-content-left {
    padding: 0 46px;
  }
  .progress-content-left .section-title {
    padding-bottom: 24px;
  }
  .progress-content-right {
    padding-top: 80px;
  }
  .progress-content-right img {
    display: flex;
    align-items: center;
    max-width: 75%;
  }
  .progress-content-left .section-title  h2 {
    max-width: 550px;
    width: 100%;
    font-size: 50px;
    line-height: 50px;
  }
  /* Progress Content End  */

  /* Footer Start  */
  .footer-wrap {
    padding-top: 55px;
  }
  .footer-main-wrap {
    padding: 0 20px;
    padding-bottom: 59px;
  }
  .footer-main-wrap footer .container {
    padding: 0 20px;
  }
  .footer-top {
    padding-bottom: 34px;
  }
  .footer-left {
    padding-bottom: 81px;
  }
  .footer-left-logo {
    padding-bottom: 6px;
  }
  .footer-left p {
    padding-bottom: 19px;
  }
  .footer-menu {
    justify-content: start;
    padding-bottom: 81px;
  }
  .footer-menu-list {
    padding-right: 78px;
  }
  /* Foogter End  */
}

@media (max-width: 768px) {
  /* Banner-Start */
  h1{
    font-size: 50px;
  }
  p{
    font-size: 18px;
  }
  .page-head  h1 {
    width: 100%;
    max-width: 340px;
  }
  .banner-wordwild{
    width: 100%;
    max-width: 350px;
  }
  .banner-wordwild-content {
    padding: 32px 0 29px 38px;
  }
  .banner-wordwild-left {
    border-right: 0;
    padding-bottom: 14px;
    border-bottom: 2px solid rgba(161, 175, 191, 0.2);
    margin-bottom: 33px;
  }
  .banner-wordwild-left p {
    max-width: 175px;
    width: 100%;
  }
  .banner-wordwild-right  p {
    padding: 0;
    width: 100%;
    max-width: 120px;
  }
  .banner-right-squre {
    width: 70%;
    margin: 0 auto;
  }
  .banner-right-img img{
    margin-left: 68px;
    margin-bottom: -34px;
  }

  /* Banner-End */

  /* Snoring Management Start */
  .snoring-head  p {
    padding: 0;
    font-size: 20px;
  }
  .snoring-head {
    padding-bottom: 45px;
  }
  .section-title  h2 {
    font-size: 36px;
    line-height: 44px;
  }
  .snoring-head .section-title h2 {
    font-size: 36px;
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 24px;
  }
  .snoring-head  p {
    max-width: 390px;
    width: 100%;
    margin: 0 auto;
    line-height: normal;
  }

  .snoring-content-list ul {
    justify-content: center;
  }
  .snoring-content-list ul li {
    width: 100%;
    margin-bottom: 20px;
    /* margin: 0 auto; */
  }
  .snoring-left-img {
    width: 100%;
  }
  .snoring-content-list {
    margin: 0 auto;
  }
  /* Snoring Management End */

  /* Feature Start  */
  .fearure-head .section-title h2 {
    font-size: 36px;
    max-width: 380px;
    width: 100%;
    line-height: normal;
  }
  .feature-left {
    padding-bottom: 20px;
  }
  .feature-left  h3 {
    font-size: 24px;
    padding-bottom: 30px;
    max-width: 440px;
    width: 100%;
  }
  .feature-left  .img-wrap {
    padding-top: 25px;
  }
  .feature-right img {
    width: 100%;
  }
  /* Feature End  */

  /* App Review Start  */
  .card-content {
    width: 100%;
    /* max-width: 350px; */
    margin: 0 auto;
  }
  /* App Review End  */

  /* Prgress Track Start */
  .progress-content-left .section-title  h2 {
    width: 100%;
    max-width: 344px;
  }
  .banner-left-content p {
    font-size: 20px;
  }
  .progress-content-right img {
    width: 100%;
  }
  /* Prgress Track End */

  /* Footer Start */
  /* Footer End  */
}
